[Unit]
Description=Status bar
PartOf=console.target

[Service]
Type=simple
ExecStart=/usr/local/bin/console-bar
ExecStopPost=-/usr/local/bin/console-report-crash %n
Restart=always
RestartSec=2

[Install]
WantedBy=console.target
