[Unit]
Description=Status bar
PartOf=legion.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=always
RestartSec=2

[Install]
WantedBy=legion.target
